

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>


    <form method="post" action="/dogs/create">
        <fieldset>
            <legend>Dogs Info</legend>
            <label>Dog name:</label>
            <input type="text" name="Name" />
            <br />
            <br />
            <label>Dog age:</label>
            <input type="text" name="Age" />
            <br />
            <br />
            <input type="submit" value="Add" />
        </fieldset>
    </form>


</body>
</html>
